* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #fff;
    box-shadow: 0 0 5px ;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logobb {
    margin-left: 10px;
}

.navbar-list ul {
    display: flex;
}


.navbar-list li {
    list-style: none;  
}

.navbar-list li a {
    text-decoration: none;
    color: #000;
    padding: 20px;
    display: block;
    font-size: 18px;
}

.navbar-list li a:hover {
 color:yellow;
 background-color: #000;
}

.toggle-button {
    position: absolute;
    top: 21px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}


.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }
    .navbar-list {
        display: none;
        width: 100%;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-list ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-list li {
   text-align:center;
    }
    .navbar-list li a {
        padding: 10px 20px;
    }
    .navbar-list.active {
     display: flex;
    }
    .navbar-list.close {
        display: none;
       }
  
    }


.slider {
margin-top: 40px;
position: relative;
padding-top: 50%;
 background: url("img/bigbang.png") top center / cover no-repeat ;
}

.slider .text-slider {
position: absolute;
color: yellow;
bottom: 50px;
text-align: center;
width: 100%;
}

.text-slider .head {
    font-size: 40px;
    margin-bottom: 10px;
}

.text-slider .slogan {
    font-size: 16px;
}
.content {

}

.content-main{
    width: 100%;
    margin: 0 auto;
    padding: 64px 10px;
    color: #000;
    background: radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);

}

.content-section {
width: 100%;
margin: 0 auto;
padding: 64px 10px;
color: #fff;
background-color: #000;
}

.content-main .band {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

.content-main .slogan {
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 15px;
}

.content-main .text-content {
    text-align: justify;
    line-height: 1.6;
    width: 80%;
    margin: 20px auto 0 auto;
}

.content-section .members {
font-size: 40px;
margin-top: 30px;
text-align: center;
letter-spacing: 3px;
}

.content-section .preview {
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 15px;
    }

.content-section .name {
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}

.content-section img {
 margin-top: 35px;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
width: 35%;

}

.content-section .information {
    text-align: justify;
    line-height: 1.4;
    color: #fff;
    width: 80%;
    margin: 15px auto 0 auto;
}

.product {
    background-color: yellow;
}

.product-list {

margin: 0 auto;
padding: 64px 10px;
color: #000;
}

.product-list .title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
}

.product-list .preview {
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 15px;
}

.product-list img {
    margin-top: 35px;
    display: block;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
width: 80%;
}

.product-list .song {
    font-size: 30px;
    text-align: center;
    margin-top: 25px;
}

.product-list audio {
    margin: 20px auto 0 auto;
    display: block;
}

.product-list .information {
    width: 80%;
    line-height: 1.6;
    margin: 25px auto 0 auto;
}


.members-item-1 {
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 50px;
}

.members-item-2 {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 50px;
    }
    
.members-item-1  img {
    margin-top: 15px;
    border-radius: 4px;
    width: 60%;
}

.members-item-1  img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.members-item-2  img {
    margin-top: 15px;
    border-radius: 4px;
    width: 40%;
}

.members-item-2  img:hover {
    opacity: 0.9;
    cursor: pointer;
}
    
.member-name {
font-size: 20px;
}


.list-message {
    padding: 64px 16px;
    background: rgb(102,108,186);
background: radial-gradient(circle, rgba(102,108,186,1) 0%, rgba(97,221,232,1) 100%);
    display: inline-block;
}

.list-message .title {
    text-align: center;
    font-size: 40px;
    letter-spacing: 3px;
    color: yellow;
}

.list-message .preview {
    text-align: center;
    font-size: 15px;
    opacity: 0.6;
    margin-top: 15px;
}

.tks-message {
    text-align: center;
    
}

.tks-message button {
    border: none;
    padding: 15px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 2px
}

.tks-message button:hover {
 opacity: 0.9;
 cursor: pointer;
}

.bigbangft {
   
}
.bigbangft img {
    display: block;
    width: 50%;
    margin:20px auto 0px auto;
    max-height: 600px;
}
   
.footer {
    padding: 15px;
    background-color: #f1f1f1;
}

.list-account {
display: flex;
list-style: none;
justify-content: center;
align-items: center;
padding: 40px 40px 20px 40px;
}

.footer .connect {
text-align: center;
opacity: 0.8;
padding: 0 0 20px 0;
    }

.list-account li a {
text-decoration: none;
display: inline-block;
padding: 3px;
 color: #000;
 font-size: 18px;
}

.list-account li .fa-facebook:hover {
color: blue;
}

.list-account li .fa-instagram:hover {
color: violet;
}

.list-account li .fa-youtube:hover {
color: red;
}
